<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1014643093386-dh2j4a7asb84ugoo7iiocurraqdsc5f3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014643093386-dh2j4a7asb84ugoo7iiocurraqdsc5f3</string>
	<key>API_KEY</key>
	<string>AIzaSyCEkJlOIBMYKtvVFv6UzuQSCERYpXlaVAc</string>
	<key>GCM_SENDER_ID</key>
	<string>1014643093386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.idekltd.XPosure2</string>
	<key>PROJECT_ID</key>
	<string>xposure-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>xposure-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014643093386:ios:ce0752f942864c6a</string>
	<key>DATABASE_URL</key>
	<string>https://xposure-v2.firebaseio.com</string>
</dict>
</plist>